/* Root variables for easy theme management */
:root {
    /* Color variables */
    --primary-color: #0f4c75;
    --primary-color1: #3282b8;
    --secondary-color: #2a9d8f;
    --text-color: #051923;
    --background-color: #ffffff;
    --hover-color: #283d3b;
    --activate-color: #3282b8;
    --box-color: #e7ecef;
    --button-color: #1b262c;
    --footer-background-color: #3282b8;
    --menu-button-color: #000000;
    --menu-background-color: #e7ecef;
    --slider-primary-color: #3282b8;
    --slider-secondary-color: #bbe1fa;
    
    /* Spacing variables */
    --text-size-p: 1vw;
    --base-margin: 1%;
    --base-padding: 5vh;
    --small-padding: 0.5%;
    --menu-width: 4vw;
    --menu-event-button-size: 3vw;
    --menu-event-button-icon: 1.5vw;
    --button-margin: 1vh;
}

/* Base styling */
html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

/* Body layout */
body {
    display: flex;
    flex-direction: column;
}

/* Header styling */
header {
    position: relative;
    background-color: var(--primary-color);
    color: #e7ecef;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.1vh;
    font-weight: bold;
    font-family: 'Arial', sans-serif;
}

/* Grid layout for main content */
main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3%;
    padding: 1%;
    justify-content: center;
    align-items: center;
}

/* Main content layout */
.main-content {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Section styling */
section {
    padding: 5em 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Styling for divs inside sections */
section > div {
    margin: 0.5em;
}

/* ------------------- Header Content Styling ----------------------------------

/* Time and weather display styling */
#time-and-weather {
    position: absolute; /* Positioned relative to the header */
    top: 50%;
    left: 1%;
    font-size: var(--text-size-p);
    transform: translateY(-50%); /* Adjust for vertical centering */
    color: white;
    display: flex;
    align-items: center;
    background-color: var(--primary-color1);
    padding: 0;
    border-radius: 1vw;
}

/* Time display styling */
#location {
    margin-left: 5px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    white-space: nowrap;
}

/* Time display styling */
#date {
    margin-right: 10px;
    display: flex;
    align-items: center;
    white-space: nowrap;
}

/* Time display styling */
#time {
    margin-right: 10px;
    display: flex;
    align-items: center;
    white-space: nowrap;
}

/* Weather display styling */
#weather {
    margin-right: 5px;
    display: flex;
    align-items: center;
    white-space: nowrap;
}

/* Weather icon styling */
#weather-icon {
    width: 50px;
    height: auto;
    margin-left: 5px;
    display: inline-block;
}

#connection {
    position: absolute;
    top: 50%;
    margin-left: 50%;
    font-size: var(--text-size-p);
    transform: translateY(-50%);
    color: white;
    display: flex;
    align-items: center;
    background-color: var(--primary-color1);
    padding: 0.5vw;
    border-radius: 1vw;
}

/* Slide-in menu styling */
#slide-menu {
    position: fixed;
    top: 0;
    right: calc(-1 * var(--menu-width));
    width: var(--menu-width);
    height: 100vh;
    background-color: var(--menu-background-color);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    z-index: 99;
    transition: right 0.5s;
}

/* Menu button styling */
#menu-button {
    position: absolute;
    top: 50%;
    right: 1%;
    transform: translateY(-50%);
    color: white;
    z-index: 100;
    transition: right 0.5s;
    width: 5vh;
    height: 5vh;
    font-size: 3vh;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

/* Adjusts menu button when menu is active */
.menuActive #menu-button {
    right: calc(1% + var(--menu-width));
}

/* Slide menu list styling */
#slide-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* Slide menu list item styling */
#slide-menu ul li {
    width: 100%; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin-bottom: var(--button-margin); 
}

/* Slide menu link styling */
#slide-menu ul li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
    width: 100%; 
    text-align: center; 
}

/* Slide menu button styling */
#slide-menu ul li button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--menu-event-button-size);
    height: var(--menu-event-button-size);
    border-radius: 50%;
    border: none;
    background-color: var(--button-color); 
    color: var(--background-color);
    font-size: var(--menu-event-button-icon);
    cursor: pointer;
    padding: 0;
    margin-top: 15px;
}

/* Hover effect for menu buttons */
#slide-menu ul li button:hover {
    background-color: var(--hover-color);
}

/* ------------------- Body Content Styling ----------------------------------

/* Container for central elements */
.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Styling for control boxes */
.control-box {
    background-color: var(--box-color);
    padding: 1%;
    border-radius: 5px;
    color: var(--text-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1%;
    width: 28vw;
    height: 30vh; 
}

/* Styling for control box headers */
.control-box h2 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    color: var(--text-color);
}

/* Button and alarm indicator styling */
button, .alarm-indicator {
    padding: var(--small-padding) var(--base-padding);
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--button-color);
    color: white;
    text-align: center;
}

/* Styling for control containers */
.control-container {
    background-color: var(--box-color);
    padding: 1%;
    border-radius: 5px;
    color: var(--text-color);
    margin-bottom: 1%;
    width: 28vw;
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* Header style for control containers */
.control-container h2 {
    margin-top: 1vw;
    margin-bottom: 0;
    height: 0px;
    color: #333;
    font-size: 1.5em;
    text-align: center;
    font-weight: bold;
    font-family: 'Arial', sans-serif;
}

/* Container for buttons */
.button-container {
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* Styling for buttons within the button container */
#button-container button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--menu-event-button-size);
    height: var(--menu-event-button-size);
    border-radius: 50%;
    border: none;
    background-color: transparent;
    color: var(--button-color);
    font-size: 5vw;
    cursor: pointer;
    padding: 0;
    height: 15vw;
}

/* Styling for the alarm icon within the button container */
#button-container #alarm-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--menu-event-button-size);
    height: var(--menu-event-button-size);
    border-radius: 50%;
    border: none;
    background-color: transparent;
    color: var(--button-color);
    font-size: 5vw;
    cursor: pointer;
    padding: 0;
    height: 15vw;
}

#temp-status {
    position: absolute;
    margin-top: 0;
    margin-bottom: -10vw;
    height: 0px;
    color: #333;
    font-size: 1em;
    text-align: center;
    font-weight: bold;
    font-family: 'Arial', sans-serif;
}

/* Keyframes for blinking alarm icon effect */
@keyframes blinkingEffect {
    0% { color: yellow; }
    50% { color: transparent; }
    100% { color: yellow; }
}

/* Styling for active alarm icon */
#alarm-icon.on {
    animation-name: blinkingEffect;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    cursor: default;
}

/* Styling for toggled state of icon inside button */
.button-toggled i {
    color: var(--activate-color);
}

/* Styling for control containers with sliders */
.control-container-slider {
    background-color: var(--box-color);
    padding: 1%;
    border-radius: 5px;
    color: var(--text-color);
    margin-bottom: 1%;
    width: 28vw;
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* Header style for control containers with sliders */
.control-container-slider h2 {
    margin-top: 1vw;
    margin-bottom: 0;
    color: #333;
    font-size: 1.5em;
    text-align: center;
    font-weight: bold;
    font-family: 'Arial', sans-serif;
}

/* Container for round sliders */
.roundslider-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 15vw;
}

/* Styling for range color in round sliders */
.roundslider-container .rs-range-color {
    background-color: var(--slider-primary-color);
}

/* Styling for path color in round sliders */
.roundslider-container .rs-path-color {
    background-color: var(--slider-secondary-color);
}

/* Styling for handles in round sliders */
.roundslider-container .rs-handle {
    background-color: var(--slider-secondary-color);
    padding: 7px;
    border: 2px solid var(--slider-primary-color);
}

/* Styling for focused handles in round sliders */
.roundslider-container .rs-handle.rs-focus {
    border-color: var(--slider-primary-color);
}

/* Styling for the handle's after state in round sliders */
.roundslider-container .rs-handle:after {
    border-color: var(--slider-primary-color);
    background-color: var(--slider-primary-color);
}

/* Styling for borders in round sliders */
.roundslider-container .rs-border {
    border-color: transparent;
}

/* Styling for buttons in round slider container */
.roundslider-container button {
    background-color: transparent;
    width: 40px;
    height: 40px;
    cursor: pointer;
    font-size: 1.5em;
    color: #000;
}

/* Footer styling */
footer {
    text-align: center;
    padding: 0.1vh;
    background-color: var(--footer-background-color);
    color: white;
    text-align: center; 
    font-family: 'Arial', sans-serif; 
}